.homeWrapper {
  min-height: 90vh;
  background-color: var(--home-bg-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.searchWrapper input {
  flex: 1;
  /* border-color: var(--border-color);
  border-width: 1px;
  border-style: solid; */
  border: 1px solid var(--border-color);
  outline: none;
  height: 2.5rem;
  /* box-shadow: 1px 0px 2px 0 rgba(0, 0, 0, 0.3); */
}

.searchWrapper button {
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.searchWrapper input,
.searchWrapper button {
  padding: 0.5em 0.8em;
}

.pagginationContainer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.paginationWrapper {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paginationList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 0.2em;
  padding-inline-start: 0;
  margin: 0 0.5em;
}

.paginationList li {
  padding: 0.1em 0.5em;
  background-color: #fff;
  border: 1px solid var(--dialog-border-color);
  cursor: pointer;
}

.paginationList li.active {
  background-color: #eaeaea;
}

.paginationList li:hover {
  background-color: var(--dialog-border-color);
  color: #fff;
}

.paginationWrapper button {
  height: 100%;
  width: 5rem;
}

/*Tablets*/
@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 1em;
    padding: 0.5em;
  }

  .homeWrapper {
    width: 75vw;
  }
}

/*Mini laptops*/
@media (min-width: 992px) {
  .container {
    padding: 1em;
  }
}
